nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Tweeter Title */
nav > span {
  align-self: center;
  font-family: "Bungee";
  margin-top: 30px;
  font-size: 36px;
}

/* Write a new tweet */
.nav--write-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav--write-new-tweet > p {
  margin: 0px;
  margin-top: 30px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.nav--write-new-tweet > p > span {
  font-weight: bold;
}

/* angle-double-down icon */
.nav--write-new-tweet > i {
  color: red;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {transform: translateY(-3px);}
  50% {transform: translateY(3px);}
  100% {transform: translateY(-3px);}
}