/* Tweet container */
#tweets-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

/* Tweet article */
.tweet {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 2px solid black;
  margin-bottom: 1em;
}

.tweet:hover {
  box-shadow: 5px 10px #888888;
}

/* Tweet header - user details */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.tweet-header img {
  height: 3em;
  width: 3em;
  margin-right: 1em;
}

.tweet-header > div {
  display: flex;
  align-items: center;
}

/* Tweet paragraph - content */
.tweet > p {
  font-weight: 600;
  padding: 1em;
  margin: 0px;
  word-wrap: break-word;
  border-bottom: 0.2em solid black;
}
/* Tweet footer - tweet details and controls */
.tweet-footer {
  display: flex;
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
}

.tweet-footer > div {
  display: flex;
  align-items: center;
}

.tweet-footer > div > i {
  padding-left: 1em;
  color: #4056A1;
}

.tweet-footer > div > i:hover {
  color: #d17300;
  cursor: pointer;
}